<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="home.css">
     <link rel="stylesheet" href="search.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
     <script src="home.js" defer></script>
     <script src="search.js" defer></script>

     <title>Music Streaming System</title>
</head>

<body>
     <div class="container" ng-app='music' ng-controller='music_control'>
          <div class="box-1">
               <div class="links">
                    <label for="home"> <p>Home</p></label>
                    <label for="search"> <p>Search</p></label>
                    <label for="albums"> <p>Albums</p></label>
                    <label for="podcast"> <p>Podcast</p></label>
                    <hr>
                    <label for="you"> <p>Made For You</p></label>
               </div>
               <div style="margin-bottom:20px">
                    <img src="{{ music.image_url }}" id="cur_image" style="height: 11rem;">
                    <h5 class="song-name" id="curr_song"></h5>
                    <p class="artist" id ="curr_artist"></p>
               </div>
          </div>

          <div class="box-2">
               <div class="home main">
                    <h3>Recently played</h3>
                    <hr>
                    <div class="row">
                         <div ng-repeat="music in shortcuts">
                              <div class="card">
                                   <div id='{{ music.song_url }}' onclick="change_song(this.id, 'shortcuts')"><img
                                             src="{{ music.image_url }}" id='{{ music.image_url }}' onclick="change_image(this.id,this.name, this.artist)"
                                             alt="Image not Found" style="height: 11rem;"></div>
                                   <h5 class="song-name" id='song'>{{ music.name }}</h5>
                                   <p class="artist"> {{ music.artist}} </p>
                              </div>
                         </div>
                    </div>
                    
                    <h3>Recently played</h3>
                    <hr>
                    <div class="row">
                         <div ng-repeat="recent in recents">
                              <div class="card">
                                   <div id='{{ recent.song_url }}' onclick="change_song(this.id)"><img src="{{ recent.image_url }}"
                                             id='{{ recent.image_url }}' onclick="change_image(this.id)" alt="Image not Found"
                                             style="height: 11rem;"></div>
                                   <h5 class="song-name" id='song'>{{ recent.name }}</h5>
                                   <p class="artist"> {{ recent.artist}} </p>
                              </div>
                         </div>
                    </div>
                    
                    <h3>Newly Relesed</h3>
                    <hr>
                    <div class="row">
                         <div ng-repeat="new in new_songs">
                              <div class="card">
                                   <div id='{{ new.song_url }}' onclick="change_song(this.id)">
                                        <img src="{{ new.image_url }}" id='{{ new.image_url }}' onclick="change_image(this.id)"
                                             alt="Image not Found" style="height: 11rem;">
                                   </div>
                                   <h5 class="song-name" id='song'>{{ new.name }}</h5>
                                   <p class="artist"> {{ new.artist}} </p>
                              </div>
                         </div>
                    </div>
               </div>

               <div class="search main">
                    <p><input type="text" ng-model="test" placeholder="Search song,podcast" class="inputs"></p>
                    <hr>
                    <div ng-repeat="music in recents" random>
               
                         <div class="search-result"
                              ng-if="music.artist.toLowerCase().includes(test.toLowerCase()) || music.name.toLowerCase().includes(test.toLowerCase()) ">
                              <div class="left">
                                   <div id='{{ music.song_url }}' onclick="change_song(this.id)" class="image-container">
                                        <img src="{{ music.image_url }}" id='{{ music.image_url }}' onclick="change_image(this.id)"
                                             alt="Image not Found" style="width:55px">
                                   </div>
                              </div>

                              <div class="right">
                                   <h5 class="song-name" id='song'>{{ music.name }}</h5>
                                   <p class="artist"> {{ music.artist | lowercase}} </p>
                              </div>
                         </div>
                    </div>
               </div>
               
               <div class="albums main">
                    <h3>Top album</h3>
                    <hr>
                    <div class="row">
                         <div ng-repeat="music in top_albums">
                              <div id='{{ music.song_url }}' onclick="change_song(this.id)">
                                   <img src="{{ music.image_url }}" id='{{ music.image_url }}' onclick="change_image(this.id)"
                                        alt="Image not Found" style="height: 11rem;">
                              </div>
                              <h5 class="song-name" id='song'>{{ music.name }}</h5>
                              <p class="artist"> {{ music.artist }} </p>
                         </div>
                    </div>
                    <h3>Recently Added</h3>
                    <hr>
                    <div class="row">
                         <div ng-repeat="music in top_albums">
                              <div id='{{ music.song_url }}' onclick="change_song(this.id)">
                                   <img src="{{ music.image_url }}" id='{{ music.image_url }}' onclick="change_image(this.id)"
                                        alt="Image not Found" style="height: 11rem;">
                              </div>
                              <h5 class="song-name" id='song'>{{ music.name }}</h5>
                              <p class="artist"> {{ music.artist}} </p>
                         </div>
                    </div>
                    <h3>Classic</h3>
                    <hr>
                    <div class="row">
                         <div ng-repeat="music in top_albums">
                              <div id='{{ music.song_url }}' onclick="change_song(this.id)">
                                   <img src="{{ music.image_url }}" id='{{ music.image_url }}' onclick="change_image(this.id)"
                                        alt="Image not Found" style="height: 11rem;">
                              </div>
                              <h5 class="song-name" id='song'>{{ music.name }}</h5>
                              <p class="artist"> {{ music.artist}} </p>
                         </div>
                    </div>
               </div>
               <div class="podcast main">
                    <h3>Top Podcast</h3>
                    <hr>
                    <div class="row">
                         <div ng-repeat="music in top_podcasts">
                              <div id='{{ music.song_url }}' onclick="change_song(this.id)">
                                   <img src="{{ music.image_url }}" id='{{ music.image_url }}' onclick="change_image(this.id)"
                                        alt="Image not Found" style="height: 11rem;">
                              </div>
                              <h5 class="song-name" id='song'>{{ music.name }}</h5>
                              <p class="artist"> {{ music.artist}} </p>
                         </div>
                    </div>
                    <h3>Health & Wellness</h3>
                    <hr>
                    <div class="row">
                         <div ng-repeat="music in educational">
                              <div id='{{ music.song_url }}' onclick="change_song(this.id)">
                                   <img src="{{ music.image_url }}" id='{{ music.image_url }}' onclick="change_image(this.id)"
                                        alt="Image not Found" style="height: 11rem;">
                              </div>
                              <h5 class="song-name" id='song'>{{ music.name }}</h5>
                              <p class="artist"> {{ music.artist}} </p>
                         </div>
                    </div>
                    <h3>Lifestyle & health</h3>
                    <hr>
                    <div class="row">
                         <div ng-repeat="music in top_podcasts">
                              <div id='{{ music.song_url }}' onclick="change_song(this.id)">
                                   <img src="{{ music.image_url }}" id='{{ music.image_url }}' onclick="change_image(this.id)"
                                        alt="Image not Found" style="height: 11rem;">
                              </div>
                              <h5 class="song-name" id='song'>{{ music.name }}</h5>
                              <p class="artist"> {{ music.artist }} </p>
                         </div>
                    </div>
               </div>

               <div class="you main">
                    <h3>Your Daily Mix</h3>
                    <hr>
                    <div class="row">
                         <div ng-repeat="music in for_you">
                              <div id='{{ music.song_url }}' onclick="change_song(this.id)">
                                   <img src="{{ music.image_url }}" id='{{ music.image_url }}' onclick="change_image(this.id)"
                                        alt="Image not Found" style="height: 11rem;">
                              </div>
                              <h5 class="song-name" id='song'>{{ music.name }}</h5>
                              <p class="artist"> {{ music.artist}} </p>
                         </div>
                    </div>
                    
                    <h3>Your Gener Mix</h3>
                    <hr>
                    <div class="row">
                         <div ng-repeat="music in for_you">
                              <div id='{{ music.song_url }}' onclick="change_song(this.id)">
                                   <img src="{{ music.image_url }}" id='{{ music.image_url }}' onclick="change_image(this.id)"
                                        alt="Image not Found" style="height: 11rem;">
                              </div>
                              <h5 class="song-name" id='song'>{{ music.name }}</h5>
                              <p class="artist"> {{ music.artist }} </p>
                         </div>
                    </div>
                    
                    <h3>Your Artist Mixes</h3>
                    <hr>
                    <div class="row">
                         <div ng-repeat="music in for_you">
                              <div id='{{ music.song_url }}' onclick="change_song(this.id)">
                                   <img src="{{ music.image_url }}" id='{{ music.image_url }}' onclick="change_image(this.id)"
                                        alt="Image not Found" style="height: 11rem;">
                              </div>
                              <h5 class="song-name" id='song'>{{ music.name }}</h5>
                              <p class="artist"> {{ music.artist }} </p>
                         </div>
                    </div>
               </div>
          </div>
     </div>

     <div class="player">
          <p id='name'></p>
          <p id='artist'></p>
          <audio id='player' controls src="">
          </audio>
     </div>
</body>
</html>
