.inputs{
    padding:0.5rem 1rem;
    border:2px solid white;
    border-radius: 8px;
    margin:1rem 0px;
    width: 40%;
    min-width: 8rem;
    align-self:flex-end;
    outline: none;
}

.inputs:hover{
    border:2px solid #fac929;
}

