<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="home.css">
     <link rel="stylesheet" href="search.css">
     <script src="../angular.min.js"></script>
     <!-- <script src="home.js"></script> -->
     <script src="search.js"></script>
     <title>Search</title>
</head>

<body>
     <div class="box-1">
          <div>
               <p><a href="./home.html"> Home</a></p>
               <p><a href="./Search.html">Search</a></p>
               <p><a href="./albums.html">Albums</a></p>
               <p><a href="./podcast.html">Podcast</a></p>
               <hr>
               <p><a href="./made_for_you.html">Made For You</a></p>
          </div>
          <div>
               <img src="{{ music.image_url }}" id="cur_image" style="height: 12rem; margin-bottom:50px;">
          </div>
     </div>
     <div class="container" ng-app='search' ng-controller='Search_control'>
          <div class="box-2">
               <div class="main">
                    
                    <p><input type="text" ng-model="test" placeholder="Search song,podcast" class="inputs"></p>
                    <hr>
                    <div> 
                        <div ng-repeat="music in songs" random>
                              
                              <div class="search-result"  ng-if="music.artist.toLowerCase().includes(test.toLowerCase()) || music.name.toLowerCase().includes(test.toLowerCase()) ">
                              <div class = "random">
                                  
                              </div>
                                <div class="left">
                                    <div id='{{ music.song_url }}' onclick="change_song(this.id)" class="image-container">
                                        <img src="{{ music.image_url }}"id='{{ music.image_url }}' onclick="change_image(this.id)" alt="Image not Found" style="width:55px">
                                    </div>
                                </div>
                                
                                <div class="right">
                                    <h5 class="song-name" id='song'>{{ music.name }}</h5>
                                    <p class="artist"> {{ music.artist | lowercase}} </p>
                                
                              </div>
                           
                        </div>
                    </div>
                    
               </div>
          </div>
     </div>
     <div class="player">
          <p id='name'></p>
          <p id='artist'></p>
          <audio id='player' controls src="">
               <!-- <source > -->
          </audio>
     </div>
</body>

</html>